
<!DOCTYPE html>
<html lang='en'>
	<head>
 		<% include partials/head %> 
	</head>
    <body>
		<header>
		<% include partials/header %>	
		<img class='pageTitle' src='/files/MENU/Threads.png'>
		<a href='https://open-up-app.herokuapp.com/' class='grey-text' id='logout'>Logout</a>
		</header>
		<% include partials/menu %>
		<main class='noScroll'>
			<div id='threadsList'>
				<% for(let i=0; i < threads.length; i++) { %>
				<div id='threadContainer'>
					<button class='threadButton' name='<%=threads[i].title %>' type='button'><%=threads[i].title %>
						<input class='openIcon' type='image' src='/files/Icons/open-icon.png'>
					</button>
					<ul class='threadList' id='<%=threads[i].title %>Container'>
						<% threads[i].threads.forEach(function(values) {%>
						<a id='threadLink' class='hidden' href='https://open-up-app.herokuapp.com/threads/<%=values.split(" ").join("-").toLowerCase();%>'><li class='thread'><%=values%></li></a>
						<% }); %>
					</ul>
				</div>
				<% }; %>
			</div>
		<% include partials/ads %>
		</main>
		<% include partials/script %>
    </body>
</html>